body {
  font-family: 'Avenir', serif;
}
.main {
  display: flex;
  justify-content: center;
}

.color-guide {
  margin: 20px;
}

h5 {
  margin-bottom: 10px;
}

.user {
  padding: 7px 15px;
  border-radius: 4px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  background: #EE92C2;
  margin: 10px 0;
}

.guest {
  background: #FDFFFC;
  color: white;
}

.sidebarContent {
  padding: 10px;
  color: white;
  text-align: left;
}

#handle {
  background-color: #2EC4B6;
  color: white;
  text-align: center;
  z-index: 1;
  position: fixed;
  padding: 15px 4px 15px 4px;
  bottom: 50%;
  box-shadow: 2px 3px 3px 1px rgba(0,0,0,0.2);
  border-radius: 1px;
}

.sidebarContent a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.sidebarContent a:visited {
  text-decoration: none;
}

#accountIcon {
  margin: 0;
  width: 50px;
  height: auto;
}

#logo {
    width: 150px;
    height: auto;
    bottom: 0;
    right: 0;
    padding: 0 30px 10px 0;
  	position: fixed;
  	z-index: 1;
}

#ArrowIcon {
}
