body {
  font-family: 'Roboto Condensed', serif;
}
.main {
  display: flex;
  justify-content: center;
}

.color-guide {
  margin: 20px;
}

h5 {
  margin-bottom: 10px;
}

.user {
  padding: 7px 15px;
  border-radius: 4px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  background: #EE92C2;
  margin: 10px 0;
}

.guest {
  background: #F0C987;
  color: white;
}

.sidebarContent {
  padding: 20px 0 20px 0;
}

#handle {
  background-color: #3f51b5;
  width: 30px;
  height: 60px;
  z-index: 1;
  position: fixed;
  bottom: 50%;
  box-shadow: 2px 3px 3px 1px rgba(0,0,0,0.2);
  border-radius: 1px;
}

.sidebarContent a {
  color: white;
  text-decoration: none;
}

.sidebarContent a:visited {
  text-decoration: none;
}

#accountIcon {
  margin: 0 5px 5px 0;
}

/* #handle button {
  /* background-color: #4CAF50;

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
  position: fixed;
  bottom: 50%;
} */
