.login-register {
  padding: 20px;
  color: white;
  text-align: left;
  float: left;
  margin-top: 20px;
  font-family: 'Avenir', serif
}

.titleContainer {
  font-size: 24px;
  font-weight: bold;
}

.login-register-message {
  font-size: 22px;
  font-weight: bold;
}

.form label, .form input{
  display: block;
  font-family: 'Avenir', serif;
}

input {
  color: white;
  display: block;
  background-color: rgb(46, 196, 182);
  border: 1px solid white;
  width: 350px;
  font-weight: normal;
  margin: 0 auto 10px;
  font-size: 18px;
  padding: 10px;
}

#submit {
  width: 100%;
  margin-top: 15px;
  color: #2EC4B6;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

#submit:hover, .switchLogin:hover {
  transform: scale(1.05);
}

.login-register .titleContainer {
  width: 350px;
}

.switchLogin {
  width: 100%;
  color: white;
  background-color: #2EC4B6;
  font-weight: bold;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input:-internal-autofill-selected {
}
