.login-register {
  padding: 10px;
  color: white;
  text-align: left;
  float: left;
}

.form label, .form input{
  display: block;
  padding-top: 4px;
}

input {
  color: white;
  background-color: rgb(46, 196, 182);
  border: 2px solid white;
}

.login-register .titleContainer {
  width: 200px;
}

.switchLogin {
  background-color: rgb(46, 196, 182);
  border: 2px solid white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input:-internal-autofill-selected {
}
