.poof {
    width: 32px;
    height: 32px;
    background-image: url("http://i.imgur.com/wvPeK.png") ;
    background-position: 0 0;
    position: absolute;

    animation: play .5s steps(5) 1;
    animation-fill-mode: forwards;
}

@keyframes play {
    from { background-position-y:   160px; }
    to { background-position-y: 0px; opacity: 0;}
}


