body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
textarea {
  width: 250px;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #fffdd0 ;
  border-radius: 1px;
  background-color:  #fffdd0  ;
  resize: none;
  font-family: 'Calibri';
  font-size: 35px;
  text-align: center;
}
